body{
	background-image: url(../image/body_bg.jpg);
	background-size:cover;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}
.clearfix{zoom:1;}
.clearfix:after{content:'.';display:block;height:0;visibility:hidden;clear:both; font-size:0;}
.e_float_l{float: left;}
.e_float_r{float: right ;}
.e_ml_10{margin-left: -10px;}
.e_ml10{margin-left: 10px;}
.e_mt10{margin-top: 10px;}
.e_mt15{margin-top: 15px;}
.e_mt20{margin-top: 20px;}
.e_mt_35{margin-top: -35px;}
.e_ml100{margin-left: 100px;}
.e_p20{padding: 20px;}
.e_pl20{padding-left: 20px;}
.e_pr20{padding-right: 20px;}
.e_pt20{padding-top: 20px;}
.e_pb20{padding-bottom: 20px;}
.e_tac{text-align: center;}
.e_tal{text-align: left;}
.e_fz_20{font-size: 20px;}
.e_fz_28{font-size: 28px;}
.e_fz_38{font-size: 38px;}
.e_fz_72{font-size: 72px;}
.e_fz_75{font-size: 75px;}
.e_inblock{display: inline-block;}
.e_bg_0d2148{background-color: #0d2148;}
.e_color_white{color: #fff;}
.e_absolute{position: absolute;}
.e_relative{position:relative;}
.e_bg_ffa800{background-color: #ffa800;}
.e_bg_00c6ff{background-color: #00c6ff;}
.e_bg_ffe400{background-color: #ffe400;}
.zykh_bg1{
	background: url(../image/zykh_bg1.png) no-repeat;
	background-size: cover;
}
.zykh_bg2{
	background: url(../image/zykh_bg2.png) no-repeat;
	background-size: cover;
}
.zykh_bg3{
	background: url(../image/zykh_bg3.png) no-repeat;
	background-size: cover;
}
.zykh_bg4{
	background: url(../image/zykh_bg4.png) no-repeat;
	background-size: cover;
}
.grwy_bg1{
	background: url(../image/yewy_bg1.png) no-repeat;
	background-size: cover;
}
.grwy_bg2{
	background: url(../image/yewy_bg2.png) no-repeat;
	background-size: cover;
}
.grwy_bg3,
 .yqt_bg2,
 .yqt_bg3{
	background: url(../image/yewy_bg3.png) no-repeat;
	background-size: cover;
}
.yqt_bg1{
	background: url(../image/yqt_bg1.png) no-repeat;
	background-size: cover;
}
.zdkhq_bg1{
	background: url(../image/zdkhq_bg1.png) no-repeat;
	background-size: cover;
}
.chart_bg_blue{
	background-color: rgba(0,67,161,0.2);
}
.chart_boder_blue{
	border: 2px solid #397bc5;
}
.chart_title_blue{
	font-size: 26px;
	color: #20f7ff;
	font-weight: bold;
}
.chart_title_white{
	font-size: 26px;
	color: #fff;
	font-weight: bold;
}
.chart_title_bg1,
.chart_title_bg2,
.chart_title_bg3,
.chart_title_bg4,
.tab_warp>li,
.tab_warp>li.active{
	line-height: 45px;
	background-image: url(../image/title_bg.png);
	background-repeat: no-repeat;
}
.chart_title_bg1{
	background-position: 0 0;
}
.chart_title_bg2{
	height: 80px;
	line-height: 81px;
	background-position: center -200px;
}
.chart_title_bg3{
	height: 80px;
	line-height: 80px;
	background-position: center -400px;
}
.chart_title_bg4{
	height: 56px;
	line-height: 56px;
	background-position: center -600px;
}
.chart_title_bg5{
	background: url(../image/big_title_bg.png) no-repeat center 0;
	height: 80px;
	line-height: 80px;
}
.chart_title_bg6{
	background: url(../image/big_title_bg.png) no-repeat center -100px;
	height: 80px;
	line-height: 80px;
}
.header>.msg>.msg_time,
.msg_weather>div,
.num_view_pink .num>span,
.mr_legend>li,
.mr_table  tr:nth-child(2)>td:nth-child(1)>span,
.mr_table  tr:nth-child(3)>td:nth-child(1)>span,
.mr_table  tr:nth-child(4)>td:nth-child(1)>span,
.spcr_legend>li:nth-child(4){
	background-image: url(../image/icons.png);
	background-repeat: no-repeat;
}

.header{
	width: 100%;
	height: 94px;
	background-image: url(../image/header_bg.png);
	background-size:cover;
}
.header>.logo,
.header>.title,
.header>.msg,
.header>.msg>.msg_time,
.header>.msg>.msg_weather,
.zykh_left,
.zykh_mid,
.zykh_right,
.grwy_top .grwy_top_left,
.qywy_top .grwy_top_left,
.grwy_top .grwy_top_right,
.qywy_top .grwy_top_right,
.grwy_top_left .zckhqyrdt_map,
.qywy_top_left .zckhqyrdt_map,
.grwy_top_left .zckhqyrdt_bar,
.qywy_top_left .zckhqyrdt_bar,
.grwy_bottom  .grwy_bottom_left,
.qywy_bottom  .qywy_bottom_left,
.grwy_bottom  .grwy_bottom_right,
.qywy_bottom  .qywy_bottom_right,
.yqt_bottom .yqt_bottom_left,
.yqt_bottom .yqt_bottom_right,
.sczc_left,
.sczc_mid,
.sczc_right{
	float: left;
}
.header>.logo{
	height: 94px;
	width: 30%;
}
.header>.logo>img{
	margin-left: 24px;
}
.header>.title{
	width: 40%;
	line-height: 94px;
	text-align: center;
	color: #fff;
	font-size: 37px;
}
.header>.msg{
	width: 30%;
	height: 94px;
}
.header>.msg>.msg_time{
	width: 40%;
	height: 94px;
	background-position: right  10px;
}
.header>.msg>.msg_time>p{
	color: #fff;
	text-align: center;
}
.header>.msg>.msg_time>p:first-child{
	font-size: 29px;
	line-height: 56px;
}
.header>.msg>.msg_time>p:last-child{
	font-size: 15px;
}
.header>.msg>.msg_weather{
	width: 60%;
	height: 74px;
	/*padding: 20px 0;*/
	padding-top: 10px;;
}
.msg_weather>div{
	float: left;
	width: 25%;
	padding-left: 25%;
}
.msg_weather>.fine{
	background-position: 0 -100px;
}
.msg_weather>.cloudy{
	background-position: 0 -200px;
}
.header>.msg>.msg_weather p{
	color: #fff;
	font-size: 15px;
	line-height: 27px;
}


.blue_bar{
	height: 20px;
	background: url(../image/blue_bar_bg.png) no-repeat center bottom;
}

.containner{
	padding: 15px;
}
.zykh_left{
	width: 618px;
	height: 890px;
}
.zykh_left .zckhqyrdt_map{
	width: 100%;
	height: 500px;
}
.zykh_left  .zckhs_bar{
	width: 100%;
	height: 363px;
}
.zykh_mid{
	width: 502px;
	margin: 11px 10px 0 10px;
}
.num_view_blue{
	width: 458px;
	height: 180px;
	padding: 20px 20px 10px 20px;
	border: 2px solid  #3a78c1;
	background-image:-webkit-linear-gradient(to right,#0455a8,#277ed6 ); 
	background-image:linear-gradient(to right,#0455a8 ,#277ed6);
}
.num_view_blue .num{
	  margin: 40px 0 20px 0;
}
.num_view_blue .num>span{
	margin-right: 3px;
	color: #fff000;
}
.num_view_blue .num>.e_color_white{
	color: #fff;
}
.num_view_blue .num>span:last-child{
	margin-right: 0;
}
.num_view_blue .last_rate{
	background-color: rgba(13,28,70,0.3);
}
.num_view_blue .num_rate{
	color: #fff000;
}
.num_view_blue .last_rate{
	height: 46px;
	line-height: 46px;
	padding: 0 10px;
}
.num_view_blue .last_rate>i{
	margin: 0 10px;
	color: #0a4472;
	background-color: rgba(13,28,70,0.3);
}
.zykh_mid .zckhsljt_line{
	height: 381px;
}
.zykh_right{
	width: 710px;
}
.jybsydt_bar{
	width: 100%;
	height: 386px;
}
.jybsydt_bar{
	width: 100%;
	height: 382px;
}
.jyjeydt_bar{
	width: 100%;
	height: 378px;
}


.grwy_top .grwy_top_left,
.qywy_top .qywy_top_left{
	width: 1132px;
	height: 438px;
}
.grwy_top .grwy_top_right,
.qywy_top .qywy_top_right{
	width: 664px;
	height: 458px;
}
.grwy_top .zckhqyrdt_map,
.qywy_top .zckhqyrdt_map{
	 width: 55%;
	 height: 434px;
}
.grwy_top .zckhqyrdt_bar,
.qywy_top .zckhqyrdt_bar{
	 width: 45%;
	 height: 389px;
}
.grwy_top  .zckhljt_bar,
.qywy_top  .zckhljt_bar{
	 height: 359px;
}
.grwy_bottom  .grwy_bottom_left,
.qywy_bottom  .qywy_bottom_left,
.yqt_bottom  .yqt_bottom_left{
	width: 900px;
	height: 422px;
}
.grwy_bottom  .grwy_bottom_right,
.qywy_bottom  .qywy_bottom_right,
.yqt_bottom  .yqt_bottom_right{
	width: 900px;
	height: 422px;
}
.grwy_bottom .jybsydt_bar,
.qywy_bottom .jybsydt_bar,
.yqt_bottom .jybsydt_bar{
	height: 342px;
}
.grwy_bottom .jyjeydt_bar,
.qywy_bottom .jyjeydt_bar,
.yqt_bottom .jyjeydt_bar{
	height: 342px;
}


.yqt_top{
	width:1824px;
	height:478px;
	margin: 0 auto;
}
.yqt_top .zckhsljt_line{
	height: 404px;
}


.sczc_left{
	width: 536px;
}
.sczc_left>div:first-child{
	width: 534px;
	height: 416px;
}
.sczc_left>div:nth-child(2){
	width: 534px;
	height: 486px;
}
.sczc_left .hxshs_bar,
.sczc_right .hxshs_bar{
	width: 100%;
	height: 360px;
}
.sczc_mid{
	width: 750px;
}
.sczc_mid{
	width: 750px;
	margin-left: 30px;
	margin-right: 30px;
}
.num_view_pink{
	width: 706px;
	height: 206px;
	padding: 20px;
	border: 2px solid  #f149b8;
	background-image:-webkit-linear-gradient(to right,#cb257e,#c31fb4 ); 
	background-image:linear-gradient(to right,#cb257e ,#c31fb4);
}
.num_view_pink .num{
	  margin:20px 0;
}
.num_view_pink .num>span{
	padding: 0px 7px;
	margin-right: 3px;
	font-size: 83px;
	color: #fff;
	background-position: 0 -300px;
}
.num_view_pink .num>span:last-child{
	margin-right: 0;
}
.num_view_pink .num>i{
	font-size: 80px;
	font-weight: bold;
	color: #fff;
}
.sczc_mid .sjdjzqrdt_map{
	width: 750px;
	height: 405px;
}
.sczc_mid .sjdjz_bar{
	width: 750px;
	height: 200px;
}
.sczc_right{
	width: 536px;
}
.sczc_right>div:first-child{
	width: 534px;
	height: 416px;
}
.sczc_right>div:nth-child(2){
	width: 534px;
	height: 486px;
}
 .sczc_left .hxshs_bar,
  .sczc_right .hxshs_bar{
 	height: 356px;
 }

.scjybs_top,
.scjyje_top{
	margin: 15px 0 30px 0;
	text-align: center;
}
.scjybs_top .num_view_pink,
.scjyje_top .num_view_pink{
	display: inline-block;}
.scjybs_top .num_view_pink:last-child,
.scjyje_top .num_view_pink:last-child{
	margin-left: 100px;
}
.scjybs_bottom,
.scjyje_bottom{
	margin-left: 10px;
       margin-right: 10px;
	height: 591px;
	text-align: center;
}
.bjdjybs_bar,
.bnljzjybs_bar,
.bjdjyje_bar,
.bnljzjyje_bar{
	display: inline-block;
	width: 800px;
	height: 200px;
}
.sfjyje_bar,
.sfjybs_bar{
	width: 100%;
	height: 306px;
}
.mtc_legend,
.mta_legend{
	display: inline-block;
	width: 800px;
	height: 85px;
}
.mtc_legend h2,
.mta_legend h2{
	color: #fff;
	font-size: 26px;
}
.mtc_legend h2>span,
.mta_legend h2>span{
	display: inline-block;
	width: 50px;
	height: 20px;
	margin-right: 15px;
}
.mtc_legend p,
.mta_legend p{
	width: 120px;
	margin-left: 70px;
	padding-bottom: 10px;
	color: #fff;
	font-size: 20px;
	border-bottom: 2px solid #ffe400;
}
.tab_warp{
	height: 85px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	background: url(../image/tab_border.png) no-repeat  center bottom;
}
.tab_warp>li{
	display: inline-block;
	width: 456px;
	height: 85px;
	color: #0dcfff;
	font-size: 28px;
	text-align: center;
	line-height: 85px;
	font-weight: bold;
}
.tab_warp>li.active{
	line-height: 85px;
	color: #fff;
}
.tab_warp>#tab1{
	background-position: 0 -800px;
}
.tab_warp>#tab1.active{
	background-position: 0 -1000px;
}
.tab_warp>#tab2{
	background-position: 0 -1200px;
}
.tab_warp>#tab2.active{
	background-position: 0 -1400px;
}
.tab_warp>#tab3{
	background-position: 0 -1600px;
}
.tab_warp>#tab3.active{
	background-position: 0 -1800px;
}
.zdkhq_bottom{
	width: 1805px;
	height: 650px;
	margin: 30px  auto 0;
}
.zdkhq_bottom #pane1,
.zdkhq_bottom #pane2,
.zdkhq_bottom #pane3{
	width: 100%;
	height: 100%;
}
.zdkhq_bottom #pane1>div,
.zdkhq_bottom #pane2>div,
.zdkhq_bottom #pane3>div{
	height: 550px;
}
.spcr_legend{
	padding-top: 20px;
	text-align: center;
	position: relative;
}
.spcr_legend>li{
	display: inline-block;
	width: 300px;
	color: #fff;
	font-size: 22px;
}
.spcr_legend>li>i{
	display: block;
	width: 25px;
	height: 25px;
	margin-top: 2px;
	content: "";
	margin-right:16px;
}
.spcr_legend>li:first-child>i{
	background-color: #ff4a61;
}
.spcr_legend>li:nth-child(2)>i{
	background-color: #f8e724;
}
.spcr_legend>li:nth-child(3)>i{
	background-color: rgba(52,145,192,.5);
}
.spcr_legend>li:nth-child(4){
	position: absolute;
	top:8px;
	right: 360px;
	width: 108px;
	height: 58px;
	padding-left: 60px;
	line-height: 58px;
	border: 1px solid #17447a;
	border-radius: 5px;
	background-color: rgba(0,18,37,.5);
	background-position: 15px -1285px
}
.spcr_legend>li>span{
	display: block;
}
.mr_legend,
.mr_legend_nobg{
	margin-top: 10px;
	text-align: center;
	width: 100%;	
}
.mr_legend>li,
.mr_legend_nobg>li{
	display: inline-block;
	width: 20%;
	height:50px;
	padding-top: 8px;
	padding-left: 10%;
	font-size: 12px;
	color: #fff;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid #15356d;
	border-radius: 5;
}
.mr_legend>li.disabled,
.mr_legend_nobg>li.disabled{
	color: #bcbcbc;
	background-color: rgba(188,188,188,0.2);
}
.mr_legend>li:nth-child(1){
	background-position: 10px -497px;
}
.mr_legend>li:nth-child(2){
	background-position: 10px -597px;
}
.mr_legend>li:nth-child(3){
	background-position: 10px -697px;
}
.mr_legend>li:nth-child(1)>p:last-child,
.mr_legend_nobg>li:nth-child(1)>p:last-child{
	color: #ffa800;
	font-size: 20px;
}
.mr_legend>li:nth-child(2)>p:last-child,
.mr_legend_nobg>li:nth-child(2)>p:last-child{
	color: #fff600;
	font-size: 20px;
}
.mr_legend>li:nth-child(3)>p:last-child,
.mr_legend_nobg>li:nth-child(3)>p:last-child{
	color: #5adef6;
	font-size: 20px;
}
.mr_legend>li:nth-child(1).disabled{
	background-position: 10px -997px;
}
.mr_legend>li:nth-child(2).disabled{
	background-position: 10px -1097px;
}
.mr_legend>li:nth-child(3).disabled{
	background-position: 10px -1197px;
}
.mr_legend>li.disabled>p:last-child{
	color: #bcbcbc;
}
.mr_table{
	width: 100%;
	margin-top: 10px;
}
.mr_table  tr>td,
.mr_table  tr>th{
	line-height: 2.2;
}
.mr_table  tr:nth-child(odd){
	border:1px solid #0d3d6e;
	background-color: rgba(5,105,153,0.5);
}
.mr_table  tr:nth-child(1){
	background-color: rgba(5,105,153,0.8);
}
.mr_table  tr>td:nth-child(1),
.mr_table  tr>th:nth-child(1){
	width: 29%;
	padding-left: 6%;
	color: #fff;
	font-weight: bold;
}
.mr_table  tr>th:nth-child(1){
	width: 27%;
	padding-left: 10%;
}
.mr_table  tr>td:nth-child(2),
.mr_table  tr>th:nth-child(2){
	width: 17%;
	padding-left: 4%;
	color: #ffa800;
	font-weight: bold;
	background-color: rgba(5,105,153,0.5);
}
.mr_table  tr>td:nth-child(3),
.mr_table  tr>th:nth-child(3){
	width: 17%;
	padding-left: 4%;
	color: #fff600;
	font-weight: bold;
}
.mr_table  tr>td:nth-child(4),
.mr_table  tr>th:nth-child(4){
	width: 17%;
	padding-left: 4%;	color: #5adef6;
	font-weight: bold;
}
.mr_table  tr>td:nth-child(1)>span{
	display: inline-block;
	width: 20px;
	height: inherit;
}
.mr_table  tr:nth-child(2)>td:nth-child(1)>span{
	background-position: 0 -792px;
	text-indent: -9999px;
}
.mr_table  tr:nth-child(3)>td:nth-child(1)>span{
	background-position: 0 -842px;
	text-indent: -9999px;
}
.mr_table  tr:nth-child(4)>td:nth-child(1)>span{
	background-position: 0 -892px;
	text-indent: -9999px;
}
.maptitle_absolute{
	position: absolute;
	left: 26px;
	top:14px;
	width: 380px;
}
/* 地图手柄 */
.spc_visualMap,
.pec_visualMap{
	position: absolute;
	width: 71px;
	height: 163px;
	background: url(../image/visualMap_bg_2500.png);
}
.spc_visualMap{
	top: 293px;
	right: 20px;
}
.pec_visualMap{
    top: 273px;
    right: 590px;
}
.eec_visualMap{
	position: absolute;
	top: 230px;
	right: 637px;
	width: 63px;
	height: 186px;
	background: url(../image/visualMap_bg_60.png);
}
.mr_visualMap{
	position: absolute;
	top: 204px;
	right: 108px;
	width: 71px;
	height: 162px;
	background: url(../image/visualMap_bg_6000.png);
}
/* 天气 */
#mobile4 .wtleft{
	display: none!important;
}
